In [21]:
import urllib2, zipfile

In [15]:
url = 'http://geolite.maxmind.com/download/geoip/database/'

In [16]:
filename='GeoLite2-City-CSV.zip'

In [17]:
downloaded = urllib2.urlopen(url+filename)

In [6]:
folder = 'data'

In [ ]:
# mkdir $folder

In [7]:
cd $folder

X:\FTMAS_GTAA\P\ToJoyce\iPython\data

In [18]:
with open(filename,'wb') as f:
    f.write(downloaded.read())

In [ ]:
with tarfile.open(filename, 'r') as tar:
    tar.extractall('.')

In [22]:
with zipfile.ZipFile(filename) as zip:
    zip.extractall('.')

In [8]:
cd GeoLite2-City-CSV_20170502

X:\FTMAS_GTAA\P\ToJoyce\iPython\data\GeoLite2-City-CSV_20170502

In [9]:
ls

 Volume in drive X is smo2
 Volume Serial Number is 2F01-9246

 Directory of X:\FTMAS_GTAA\P\ToJoyce\iPython\data\GeoLite2-City-CSV_20170502

05/09/2017  02:30 PM    <DIR>          .
05/09/2017  02:30 PM    <DIR>          ..
05/09/2017  02:30 PM                55 COPYRIGHT.txt
05/09/2017  02:30 PM       180,225,584 GeoLite2-City-Blocks-IPv4.csv
05/09/2017  02:30 PM        36,493,592 GeoLite2-City-Blocks-IPv6.csv
05/09/2017  02:30 PM         6,732,431 GeoLite2-City-Locations-de.csv
05/09/2017  02:30 PM         8,600,477 GeoLite2-City-Locations-en.csv
05/09/2017  02:30 PM         7,071,639 GeoLite2-City-Locations-es.csv
05/09/2017  02:30 PM         7,723,924 GeoLite2-City-Locations-fr.csv
05/09/2017  02:30 PM         9,775,104 GeoLite2-City-Locations-ja.csv
05/09/2017  02:30 PM         7,362,964 GeoLite2-City-Locations-pt-BR.csv
05/09/2017  02:30 PM         9,714,355 GeoLite2-City-Locations-ru.csv
05/09/2017  02:30 PM         7,403,738 GeoLite2-City-Locations-zh-CN.csv
05/09/2017  02:30 PM               433 LICENSE.txt
              12 File(s)    281,112,488 bytes
               2 Dir(s)  859,136,090,112 bytes free

In [10]:
%bookmark mmData

In [11]:
import pandas as pd

In [12]:
filename = 'GeoLite2-City-Locations-de.csv'
data = pd.read_csv(filename)

In [13]:
type(data)

pandas.core.frame.DataFrame

In [14]:
data.shape, data.keys()

((99765, 13),
 Index([u'geoname_id', u'locale_code', u'continent_code', u'continent_name',
        u'country_iso_code', u'country_name', u'subdivision_1_iso_code',
        u'subdivision_1_name', u'subdivision_2_iso_code', u'subdivision_2_name',
        u'city_name', u'metro_code', u'time_zone'],
       dtype='object'))

In [15]:
data.tail()

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone
99760,11467773,de,AS,Asien,ID,Indonesien,BA,NaN,NaN,NaN,NaN,NaN,Asia/Makassar
99761,11468270,de,AS,Asien,JP,Japan,24,NaN,NaN,NaN,NaN,NaN,Asia/Tokyo
99762,11468429,de,AS,Asien,JP,Japan,24,NaN,NaN,NaN,NaN,NaN,Asia/Tokyo
99763,11468431,de,AS,Asien,JP,Japan,24,NaN,NaN,NaN,NaN,NaN,Asia/Tokyo
99764,11497233,de,OC,Ozeanien,AU,Australien,NSW,NaN,NaN,NaN,NaN,NaN,Australia/Sydney

In [47]:
folder = 'data/facebook'

In [18]:
data.country_name.head()

0     Ruanda
1    Somalia
2    Somalia
3    Somalia
4      Jemen
Name: country_name, dtype: object

In [20]:
data.country_name[4]

'Jemen'

In [21]:
data[data.country_name=='Somalia']

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone
1,51537,de,AF,Afrika,SO,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,Africa/Mogadishu
2,53654,de,AF,Afrika,SO,Somalia,BN,NaN,NaN,NaN,Mogadischu,NaN,Africa/Mogadishu
3,57289,de,AF,Afrika,SO,Somalia,WO,NaN,NaN,NaN,NaN,NaN,Africa/Mogadishu
95607,6773456,de,AF,Afrika,SO,Somalia,GE,NaN,NaN,NaN,NaN,NaN,Africa/Mogadishu

In [22]:
data.ix[4]

geoname_id                    69543
locale_code                      de
continent_code                   AS
continent_name                Asien
country_iso_code                 YE
country_name                  Jemen
subdivision_1_iso_code          NaN
subdivision_1_name              NaN
subdivision_2_iso_code          NaN
subdivision_2_name              NaN
city_name                       NaN
metro_code                      NaN
time_zone                 Asia/Aden
Name: 4, dtype: object